<%- include('partials/header') %>

<!-- Login form -->
<div class="container mt-5 py-5"></div>
    <div class="row justify-content-center">
        <div class="card bg-dark text-white" style="width: 24rem">
            <div class="card-body">
                <form action="/login" method="POST">
                <img class="mb-4 mx-auto d-block" src="https://cdn-icons-png.flaticon.com/512/1779/1779940.png" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

                <div class="form-floating">
                    <input type="email" name="email" class="form-control bg-secondary" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control bg-secondary" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-center">© 2024–2099</p>
                </form>

                <% if (typeof error !== "undefined") { %>
                    <p class="error text-center"><%= error %></p>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>